<nav class="navbar asp-navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a class="asp-nav-icon" href="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="asp-navbar-separator"></li>
            <li>@Html.ActionLink("Index", "Index", "Home")</li>
            <li>@Html.ActionLink("Index2", "Index", "Home")</li>
            <li>@Html.ActionLink("Index3", "Index", "Home")</li>
            <li>@Html.ActionLink("Index3", "Index", "Home")</li>
        </ul>
    </div>
</nav>